/* .top-container {
  float: right;
  margin-bottom: 20px;
} */

.mat-select-panel-wrap {
  flex-basis: 100%;
  width: 30% !important;
}

.cdk-overlay-connected-position-bounding-box {
  width: 30% !important;
}
.cssClass {
  background: lightgray !important;
}

.ui-table-wrapper {
  margin-top: 200px !important;
}

/* Toggle button */
.my_class {
  margin-right: 30px;
}
